.menu-bar {
    position: fixed;
    top: 97px;
    right: 10px;
    left: 10px;
    height: 35px;
    /*color: rgb(250, 229, 215);*/
     display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 0.01px rgb(255, 209, 188);
    background-image: linear-gradient(to left, rgb(245, 168, 145),rgb(243, 180, 164), rgb(250, 250, 252));
    font-size: 15px;

}
