.modal-container-hide {
    display: none;
    border: 1px solid rgb(221, 145, 145);

}

.modal-container-show {
    display: flex;
    position: absolute;
    top: 0;
    left: 25%;
    max-width: 800px;
}

.modal-container-show img {
    width: 500px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
    background-color: antiquewhite;
    padding: 12px;
}

.modal-infos{
display: flex;
flex-direction: column;
gap: 12px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}