.main {
    margin: 149px 3px 3px;
    padding: 15px;
   /* border-top: solid 0.01px rgb(255, 209, 188);*/
}

.category-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 750px) {
    
    .category-grid {
        flex-direction: column;
        /* When the page is at 750px or less switch to flex colunbs */
    }

}

.category-container {
    width: 100%;
    height: 100%;
    max-width: 300px;
}

.category-img {
    width: 100%;
    height: 400px;
    /* 0 for horizontal and vertical offsets, the shadow spreads evenly all around the element. */
    box-shadow: 0 0 10px rgba(56, 33, 33, 0.5);
    object-fit: cover;
}

.image-title {
    text-align: center;
}

@keyframes change-price-fontsize {
    0% {
        font-size: x-large;
    }

    100% {

        font-size: 40px;
    }
}



.free-delivery-banner,
.price-free-delivery {
    background: linear-gradient(to right, rgb(192, 118, 84), rgb(131, 67, 37), rgb(8, 8, 24));
    -webkit-background-clip: text;
    /* For WebKit browsers like Chrome, Safari */
    background-clip: text;
    color: transparent;
    font-size: xx-large;
}

.price-free-delivery {
    animation: change-price-fontsize 4s linear infinite;
}